/*helper classes*/
.right-align {
  float: right;
}

.border {
  border: 1px solid;
}

.no-margin {
  margin: 0px;
}

.full-height {
  height: 100%;

}
html {
  min-height: 100%;
  position: relative;
}

/*styles used on multiple examples of same element type, all over the page*/
button {
  font-size: 20px;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

/*element names & classes for specific elements or groups of elements, arranged roughly from top of the screen to bottom and left to right*/

.header-word {
  display: inline-block;
  margin-left: 20px;
}

.left {
  width: 20%;
  display: inline-block;
  position: absolute;
}

.left > * {
  padding-left: 10px;
}

.right {
  display: inline-block;
  margin-left: 20%;
  padding-left: 20px;
  position: absolute;
  width: 75%;
}
h1 {
  font-size: 70px
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  /*text-align: right;*/
}

.price {
 display: inline-block;
 margin-left: 65%;
 /*margin-right: 55px;
 margin-left: 70%;*/
}

.add-button {
 display: inline-block;
 margin-right: 20px;
 font-size: 15px;
 float: right;
 clear: right;
}
